@font-face
{
	font-family: Ubuntu-Regular;
	src: url("font/Ubuntu-Regular.ttf");
}

@font-face
{
	font-family: Ubuntu-Bold;
	src: url("font/Ubuntu-Bold.ttf");
}

@font-face
{
	font-family:Ubuntu-BoldItalic ;
	src: url("font/Ubuntu-BoldItalic.ttf");
}

@font-face
{
	font-family: Ubuntu-Italic;
	src: url("font/Ubuntu-Italic.ttf");
}

@font-face
{
	font-family:Ubuntu-Light ;
	src: url("font/Ubuntu-Light.ttf");
}

@font-face
{
	font-family: Ubuntu-LightItalic;
	src: url("font/Ubuntu-LightItalic.ttf");
}

@font-face
{
	font-family:Ubuntu-Medium ;
	src: url("font/Ubuntu-Medium.ttf");
}

@font-face
{
	font-family:Ubuntu-MediumItalic ;
	src: url("font/Ubuntu-MediumItalic.ttf");
}

#llogo
{
	border-radius: 50%;
	width: 25%;
	position: relative;
}

.sidenav
{
	height: 100%;
	width: 15.5%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(#F5CFF0, #f3e9f2);
	overflow-x: hidden;
	padding-top: 10px;
	font-family: Ubuntu-Medium;
}

.sidenav a
{
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 15px;
	color: black;
	display: block;
}

.sidenav a:hover
{
	color: whitesmoke;
}

@media screen and (max-height: 450px)
{
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}


.article
{
	display: block;
	background-color: #FFFAF0;
	border: 10px inset;
	padding: 0;
	margin-left: 15%;
}

.fFig
{
	display: block;
	float: right;
	width: 28%;
}

.ahead
{
	position: relative;
	font-family: Ubuntu-Regular;
	color: black;
	font-size: 40px;
	margin-left: 130px;
	text-decoration: none;
	letter-spacing: 3px;
}

.hhhr
{
	border-top: 5px solid black;
	margin-left: 100px;
	margin-right: 500px;
}

.nnuText
{
	position: relative;
	font-family: Ubuntu-Italic;
	color: black;
	font-size: 20px;
	margin-left: 100px;
}

.ftt
{
	position: relative;
	padding: 10px;
	background-color: #AAAAAA;
	color: black;
	font-family: Ubuntu-Regular;
	font-size: 20px;
	margin-left: 15%;
}